* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main{
  
    height: 100vh;
    width: 100%;
  }
  .only-nav{
    background-color: rgb(46, 64, 92);
    font-size: 15px;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .navbar-brand{
  
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px; 
  }